---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Game from '../components/Game.tsx';
---

<Layout title="Welcome to Astro.">
	<main>
		<Game client:idle/>
	</main>
</Layout>

